#main-canvas {
    position: relative;
}

#score-container {
    background-color: black;
    z-index: 1;
    position: absolute;
    left: 1rem;
    top: 1rem;
    border-radius: 1rem;

}

#miss-container {
    background-color: black;
    z-index: 1;
    position: absolute;
    left: 1rem;
    top: 4rem;
    border-radius: 1rem;

}

#level-container {
    background-color: black;
    z-index: 1;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    border-radius: 1rem;
}


#score-text {
    color: white;
    margin: 0.4rem 0.8rem;
    font-size: 1.4rem;
    font-family: Poppins;
    text-align: center;
}

#miss-text {
    color: white;
    margin: 0.4rem 0.8rem;
    font-size: 1.4rem;
    font-family: Poppins;
    text-align: center;
}

#level-text {
    color: white;
    margin: 0.4rem 0.8rem;
    font-size: 1.4rem;
    font-family: Poppins;
    text-align: center;
}

#goal-text {
    color: lime;
    position: absolute;
    left: 50%;
    text-align: center;
    top: 250px;
    visibility: hidden;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-family: Poppins;
}
#lose-text {
    color: rgb(255, 0, 0);
    position: absolute;
    left: 50%;
    text-align: center;
    top: 50px;
    visibility: hidden;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-family: Poppins;
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url('assets/Poppins-Bold.ttf');
}
