html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.blurred{
    filter: blur(5px);
}

#main-canvas {
    position: relative;
}


.game-label {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1;
    border-radius: 0.5rem;
    padding: 0.8rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.game-label p {
    color: #fff;
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

#score-container,
#miss-container,
#point-container,
#level-container,
#life-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

#score-container {
    left: 1rem;
    top: 1rem;
}

#miss-container {
    left: 1rem;
    top: 5rem; 
    display: none;
}
#life-container {
    box-shadow: none;
    color: none;
    padding: 0;
    border-radius: none;
    margin: 0;
    left: 1rem;
    top: 5.5rem; 
    justify-content: center;
    align-items: center;
}

img{
    width: 45px; /* Adjust the width as needed */
    height: 45px; /* Adjust the height as needed */
    max-width: 100%; /* Ensure the image doesn't exceed its natural size */
    margin-right: 20px; /* Optional margin between hearts */
    display: inline-block; /* Ensure hearts are displayed in a line */
    /* filter: brightness(100%); Optional: Adjust brightness for a subtle effect */
    background-color: #ff0000; /* Adjust the color as needed */
    border-radius: 50%; /* Optional: Make the background a circle */
}

#point-container {
    right: 1rem;
    top: 5rem;
}

#level-container {
    right: 1rem;
    top: 1rem;
}

.splash-text {
    visibility: hidden;
    font-family: Poppins;
    position: absolute;
    margin: 0;
}
.centered {
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}

#goal-text {
    color: #008000;
    top: 50%;
    font-size: 4rem;
    text-shadow: 0 0 10px lime, 0 0 10px lime, 0 0 10px lime, 0 0 10px lime;
}

#lose-text {
    color:black;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 2rem;
    text-shadow: 0 0 10px rgba(255, 0, 0), 0 0 10px rgba(255, 0, 0), 0 0 10px rgba(255, 0, 0), 0 0 10px rgba(255, 0, 0);
}
#title-text {
    color: rgb(254, 243, 243);
    bottom: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url('assets/Poppins-Bold.ttf');
}